* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
header {
  height: 50px;
  background-color: #FF9A4B;
}

/* main */
main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.main-contents {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  background-color: #EEEEEE;
  position: relative;
}

.main-contents:last-child {
  margin-right: 0;
}

.img1 {
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.img2 {
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.img3 {
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.step {
  background-color: #FF9A4B;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  margin: 15px 0 5px;
}


/* footer */
footer {
  height: 50px;
  background-color: #AAAAAA;
}