* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
  width: 960px;
  margin: 50px auto;
}

.list:nth-child(odd) {
  background-color: #eee;
}

.list {
  padding: 20px;
  list-style: none;
}

.list-box {
  margin-bottom: 50px;
}

.box-list {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  height: 200px;
  margin-bottom: 40px;
  margin-right: 5%;
}

.box:nth-child(1) {
  background-color: orange;
}

.box:nth-child(2) {
  background-color: yellow;
}

.box:nth-child(3) {
  background-color: yellow;
}

.box:nth-child(4) {
  background-color: yellow;
}

.box:nth-child(5) {
  background-color: orange;
}

.box:nth-child(6) {
  background-color: yellow;
}

.box:nth-child(7) {
  background-color: yellow;
  margin-bottom: 0;
}

.box:nth-child(8) {
  background-color: yellow;
  margin-bottom: 0;
}

.box:nth-child(9) {
  background-color: orange;
  margin-bottom: 0;
}

.box:nth-child(3n) {
  margin-right: 0;
}
