* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border-bottom: 1px black solid;
  padding: 20px 0;
  text-align: center;
}

nav {
  border-bottom: 1px black solid;
  text-align: center;
  padding: 15px 0;
}

.nav-item li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

main {
  margin: 50px auto;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.main-item1 {
  background-color: #e6ffe9;
  height: 200px;
  width: 200px;
}

.main-item2 {
  background-color: #cdffd3;
  height: 200px;
  width: 200px;
}

.main-item3 {
  background-color: #aeffbd;
  height: 200px;
  width: 200px;
}

.main-item4 {
  background-color: #93ffab;
  height: 200px;
  width: 200px;
}

.main-item5 {
  background-color: #f3ffd8;
  height: 200px;
  width: 200px;
}
.main-item6 {
  background-color: #edffbe;
  height: 200px;
  width: 200px;
}

.main-item7 {
  background-color: #e9ffa5;
  height: 200px;
  width: 200px;
}

.main-item8 {
  background-color: #e4ff8d;
  height: 200px;
  width: 200px;
}

.main-item9 {
  background-color: #d9e5ff;
  height: 200px;
  width: 200px;
}

.main-item10 {
  background-color: #bad3ff;
  height: 200px;
  width: 200px;
}

.main-item11 {
  background-color: #a4c6ff;
  height: 200px;
  width: 200px;
}

.main-item12 {
  background-color: #8eb8ff;
  height: 200px;
  width: 200px;
}


footer {
  width: 100%;
  height: 120px;
  background-color: gray;
  text-align: center;
  line-height: 120px;
}

footer p {
  color: #fff;
}